---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

// === Resume === //

//add red line under title
h2{
  border-bottom: 2px rgb(255, 0, 0) solid;

}

.item {
  margin-top: 10px;
  margin-bottom: 10px;


   .header {
     margin-bottom: 10px;
    
     .title {
      color: rgb(39, 39, 39);
      font-size: 16px;
      //display: inline;

       .organization {
        font-weight: bold;
      }

       .position { }
    }

     .subtitle {
      color: rgb(83, 83, 83);

       .date {
        //float: right;
        //display: inline;
        color: rgb(48, 48, 48);
      }

       .location {

       }

     }

   }

   .description {
    .text {
      margin-bottom: 10px;
    }

     .items {
      padding-left: 20px;
    }
  }

 } 


.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

/* --- Footer --- */

footer {
  .contents {
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    
    .link{
      color: #ff0000;
    }
  }
}

/* --- Icon Hover --- */
#icons {
  width: 185px;
  height: 22px;
}

#icons:hover > div> a> svg {
  opacity: 0.5;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

#icons:hover > div > a > svg:hover {
  opacity: 1.0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}


// /* --- Toast Copy --- */
// #toast {
//   visibility: hidden; /* Hidden by default. Visible on click */
//   border: 2px solid rgb(255, 0, 0); 
//   color: rgb(255, 255, 255); /* White text color */
//   //background-color: rgb(255, 0, 0);
//   text-align: center; /* Centered text */
//   border-radius: 18px; /* Rounded borders */
//   padding: 4px; /* Padding */
//   position: fixed; /* Sit on top of the screen */
//   z-index: 1; /* Add a z-index if needed */
//   //left: 93%; /* Center the snackbar */
//   //top: 15px; /* 30px from the bottom */
//   font-size: 11px;
//   box-shadow: 0 5px 15px rgba(0,0,0,0.3)
// }

// #toast.show {
//   visibility: visible;
//   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
//   animation: fadein 0.5s, fadeout 0.5s 2.5s;
// }

// /* Animations to fade the toast in and out */
// @-webkit-keyframes fadein {
//   from {opacity: 0;} 
//   to {opacity: 1;}
// }

// @keyframes fadein {
//   from {opacity: 0;}
//   to {opacity: 1;}
// }

// @-webkit-keyframes fadeout {
//   from {opacity: 1;} 
//   to {opacity: 0;}
// }

// @keyframes fadeout {
//   from {opacity: 1;}
//   to {opacity: 0;}
// }
// */
